#Take input A and B and print their sum, mul, div, square of the nos.

#addition of two numbers

In [3]:
A=int(input ("enter the value of A: "))
B=int(input("enter the value of B: "))

print(f"sum of A and B is: {A+B}")

enter the value of A: 10
enter the value of B: 10
sum of A and B is: 20

#subtraction of two numbers

In [4]:
A=int(input ("enter the value of A: "))
B=int(input("enter the value of B: "))

print(f"sum of A and B is: {A-B}")

enter the value of A: 15
enter the value of B: 10
sum of A and B is: 5

#multiplication of two numbers

In [20]:
A=int(input ("enter the value of A: "))
B=int(input("enter the value of B: "))

print(f"sum of A and B is: {A*B}")

enter the value of A: 10
enter the value of B: 2
sum of A and B is: 20

#square of two numbers

In [36]:
A=int(input ("enter the value of A: "))
B=int(input("enter the value of B: "))

print(f"square of A is: {A**2}")


print(f"square of B is: {B**2}")

enter the value of A: 10
enter the value of B: 5
square of A is: 100
square of B is: 25

# How many reserve keywords are there in python and why we should not use them as a variable *name*

#We cannot use a keyword as a variable name, function name or any other identifier. They are used to define the syntax and structure of the Python language.

In Python, keywords are case sensitive.

 This number can vary slightly over the course of time.

All the keywords except True, False and None are in lowercase and they must be written as they are. The list of all the keywords is given below.

1.False  2.	await  3.  	else  4.  	import	   5.   pass
  6.None	    7    .break	8. except	9.in10.	raise
11.True 12	.class	13.finally	14.is 15.	return
16.and	17.continue	18.for	19.lambda	20.try
21.as	22.def	23.from	24.nonlocal	25.while
26.assert	27.del	28.global	29.not	30.with
async	elif	31.if	32.or	33.yield

#Create email ids with the user inputs. in the following format - lastname.firstname@gmail.com

In [5]:
lastname=input("enter the lastname")
firstname=input("enter the fistname")
print(f"{lastname}.{firstname}@gmail.com")

enter the lastnametayade
enter the fistnamepankaj
tayade.pankaj@gmail.com

#Try to print the following lines -
Hi I'm Sunny
My address is 22\3
I earn 20$ daily.

In [11]:
name=input("enter the name")

address=input("enter the address")

earn=input("enter the daily earn")
 


print(f"hi im {name}")
print(f"my address is {address} ")
print(f"i earn {earn} $ daily")

enter the namesunny
enter the address22/3
enter the daily earn20
hi im sunny
my address is 22/3
i earn 20 $ daily

#6 Take user input (name, address, date of birth etc) to fill a form for your college and print their email IDs

In [33]:
name=input("enter the name: ")
address=input("enter the address: ")
year_of_birth = input("year_of_birth: ")

age = 2022 - int(year_of_birth)
print(f"{name} is of age: {age}")
lastname=input("enter the lastname")
firstname=input("enter the fistname")
print(f"{lastname}.{firstname}@gmail.com")

enter the name: pankaj
enter the address: akola
year_of_birth: 1997
pankaj is of age: 25
enter the lastnametayade
enter the fistnamepankaj
tayade.pankaj@gmail.com

#7 Convert the following -
"22.4" into integer


"22" into complex no.

In [34]:
A = 22.4
print(f"data type before: {type(A)}, value of A: {A}")
A = int(A)
print(f"data type after: {type(A)}, value of A: {A}")

data type before: <class 'float'>, value of A: 22.4
data type after: <class 'int'>, value of A: 22